<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <!-- for older browsers like lynx -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    <!-- ---------------------------- -->

    <title>Otwarty Budżet
        {% if article.title %}
            | {{ article.title }}
        {% else %}
            {% if page_title %}
                | {{ page_title }}
            {% endif %}
        {% endif %}
    </title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cantarell" />
    <link rel="stylesheet" href="/mymedia/css/style.css" />
  </head>
  <body>
    <div id="wraper">

      <!-- H E A D E R -->
      <header>
        <a href="http://otwartybudzet.pl">
          <h1 class="left">
            Otwarty budżet
          </h1>
        </a>

        <a href="http://centrumcyfrowe.pl">
          <img class="right" src="/mymedia/img/logo.png" alt="centrumcyfrowe.pl" title="Centrum Cyfrowe" />
        </a>
      </header>

      <br class="clear" />


      <!-- M A I N   M E N U -->
      <nav class="main-menu">
        <ul>
          <!-- O T W A R T E   D A N E -->
          <li class="mm-element
            {% ifequal slug 'otwarte-dane-budzetowe' %}
                selected
            {% endifequal %}
          ">
            <a href="/otwarte-dane-budzetowe/">
              <h3
                 {% ifequal slug 'otwarte-dane-budzetowe' %}
                    class = "selected"
                 {% endifequal %}
              >
                Otwarte dane budżetowe
              </h3>
            </a>
          </li>

          <!-- NASZE WIZUALIZACJE -->
          <li class="mm-element
            {% ifequal slug 'wizualizacje' %}
                selected
            {% endifequal %}
          ">
            <a href="/wizualizacje/">
              <h3 
                 {% ifequal slug 'wizualizacje' %}
                    class = "selected"
                 {% endifequal %}               
              >
                Nasze wizualizacje
              </h3>
            </a>
          </li>

          <!-- KONKURS -->
          <li class="mm-element 
            {% ifequal slug 'konkurs' %}
                selected
            {% endifequal %}
          ">
            <a href="/konkurs/">
              <h3
                 {% ifequal slug 'konkurs' %}
                    class = "selected"
                 {% endifequal %}               
              >
                Konkurs
              </h3>
            </a>
          </li>

          <!-- EDUKACJA -->
          <li class="last mm-element
            {% ifequal slug 'edukacja' %}
                selected
            {% endifequal %}
          ">
            <a href="/edukacja/">
              <h3
                 {% ifequal slug 'edukacja' %}
                    class = "selected"
                 {% endifequal %}               
              >
                Czym jest budżet
              </h3>
            </a>
          </li>

        </ul>
      </nav>
      <br class="clear" />

      <div id="main-content" >

      {% block content %}
      {% endblock %}
      <br class="clear" />
        <div id="white-boxes">
          <div class="left">
          </div>
          <div class="right">
          </div>                
        </div>
      </div>
  
        <!-- F O O T E R -->
      <footer>

        <!-- grantodawcy -->
        <section>
          Projekt "Wizualizacja budżetu państwa" jest wspierany przez grant z
          <a href="http://www.batory.org.pl/" target="_blank">
            Fundacji im. Stefana Batorego</a>.
          Do pracy z danymi wykorzystaliśmy system Raw Salad, tworzony z grantu
          <a href="http://www.ceetrust.org/" target="_blank">
            Trust for Civil Society in Central and Eastern Europe</a>.
        </section>

        <!-- loga grantodawcow-->
        <section>
          <a href="http://www.ceetrust.org/" target="_blank">
            <img alt="www.ceetrust.org" title="Trust for Civil Society in Central and Eastern Europe" src="/mymedia/img/l1.png" class="left">
          </a>

          <a href="http://www.batory.org.pl/" target="_blank">
            <img alt="www.batory.org.pl" title="Fundacja im. Stefana Batorego" src="/mymedia/img/l2.png" class="left">
          </a>
        </section>

        <!-- projekt: polska -->
        <section class="last">
          <a href="http://centrumcyfrowe.pl/" target="_blank">
          Centrum Cyfrowe</a> jest częścią 
          <a href="http://projektpolska.pl/" target="_blank">
            Fundacji Projekt: Polska</a>.
          <br />
          <a href="http://projektpolska.pl/" target="_blank">
            <img alt="projektpolska.pl" title="Fundacja Projekt: Polska" src="/mymedia/img/ppolska.png" style="margin-top:10px" />
          </a>
        </section>

        <br class="clear"/>

        <!-- kontakt-->
        <section id="contact">
          Centrum Cyfrowe Projekt:Polska, ul. Mińska 25, 03-808 Warszawa,
          <span style="text-decoration:underline;">kontakt@centrumcyfrowe.pl</span>
          <br />
          O ile nie jest to stwierdzone inaczej, dane publiczne udostępnione w 
          serwisie nie są przedmiotem praw autorskich. Wszystkie inne treści, 
          o ile nie jest to stwierdzone inaczej, są dostępne na licencji 
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
            Creative Commons Uznanie autorstwa 3.0 Unported</a>. 
          Pewne prawa zastrzeżone na rzecz 
          <a xmlns:cc="http://creativecommons.org/ns#" href="http://centrumcyfrowe.pl" property="cc:attributionName" rel="cc:attributionURL">
            Centrum Cyfrowego Projekt: Polska</a>. 
          <br />
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
            <img alt="Licencja Creative Commons Uznanie autorstwa 3.0 Unported" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" />
          </a>
        </section>
      </footer>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="/mymedia/js/page.js"></script>
  </body>
</html>
