.selected {
    background-color: #f0f0f0;
    color: #888;
}

.selected a { 
    color: #888;
}    


.text-block {
    width: 900px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0px 19px;
    padding-bottom: 20px;    
    background-image: url('../img/grey-corner.png');
    background-position: top right;
    background-repeat: no-repeat;    
}

.text-block-title {
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
    padding: 0px 0px;
}

p {
    padding: 0px;
}

.thumb {
    border: 1px #eee solid !important;
}

.thumb:hover {
    border: 1px #ff6000 solid !important;
}

.full-text {
/*    width: 500px;*/
    margin-left: 30px;
}

#full-plate-wraper {
    width: 800px;
    margin-left: 50px;
}

#full-plate-wraper b {
    font-family: "Cantarell", sans-serif;
    text-transform: uppercase;
}


