* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: x-small;
    line-height: 18px;
    cursor: default;
    color: #474747;    
    font-family: Verdana, sans-serif;
}

#wraper {
    width: 960px; 
    margin: 0px auto;
    margin-top: 20px;    

    font-size: 1.1em;
}

h1, 
h2,
h3 {
    font-family: Cantarell, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

header {
    padding-left: 10px;
}

#main-menu  {
    margin-top: 80px;
    background-color: #f0f0f0;
    padding: 0px 10px;    
}
    
    ul {
        list-style: none;
    }


    nav h3 {
        min-height: 50px;

        color: #fff;
        font-family: Cantarell, sans-serif;
        text-transform: uppercase;
        line-height: 22px;
    }

    nav h3:hover {
        color: #cf4e00;
    }

    nav .last h3 {
        font-weight: bold;
    }

    nav p {
        padding: 0px 10px;
    }
    



article {
    overflow: auto;
    background-color: #f0f0f0;
    padding: 20px 10px;
}    

.about section {
    margin-left: 238px;
    margin-top: 0px;
}

    .about h2 {
        margin-bottom: 15px;

        color: #cf4e00;
    }

    .about p {
        width: 320px;
        margin-right: 20px;
    }
    


#white-boxes {
    background-color: #f0f0f0;
    overflow: auto;
}

    #white-boxes > div {
        width: 10px;
        height: 10px;
        background-color: white;
        margin: 0px 0px;
    }




footer {
    border-top: 1px dotted #ccc;
    padding: 20px 10px;
    margin-top: 20px;
    color: #888;    
}

    footer section {
        float: left;

        width: 32.5%;
        margin-right: 1%;
    }

    #contact {
        width: 100%;
        border-top: 1px dotted #ccc;
        padding: 20px 0px;
        margin-top: 20px;
    }



a {
    color: #cf4e00;
    text-decoration: none;
}

a:hover {
    color: #555;
}


a > img {
    border: 0px;
}


.cantarell {
    font-family: 'Cantarell', sans-serif;
}
    
.left {
    float: left;
}

.right {
    float: right;
}


.clear {
    clear: both;
}

#header {
    padding-left: 10px;
}

    #site-name {
        float: left;
        vertical-align: top;
        margin-left: 5px;
        font-size: 32px;
    }

    #logo {
        float: right;
    }

#main-menu {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0px 10px;
    line-height: 22px;
}

    .menu-item {
        width: 206px;
        float: left;
        margin-right: 12px;
        padding: 5px 10px;

        background-color: #d0d0d0;
        background-image: url('../img/white-corner.png');
        background-position: top right;
        background-repeat: no-repeat;

        color: white;
        font-size: 16px;
        text-transform: uppercase;        
    }


    .menu-item > a {
    color: #fff;
    text-decoration: none;
    }


    .menu-item > a:hover {
    color: #ff6000;
    }

    .last {
    margin-left: 0px;
    margin-right: 0px;
    }


#main-content {
    overflow: auto;
    background-color: #f0f0f0;
    padding: 0px 10px;
    padding-top: 30px;
}

    .text-block {
        float: left;
        background-color: #d0d0d0;
        width: 186px;
        min-height: 165px;       
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        border-bottom: 10px #606060 solid;
        margin-right: 12px;
        padding-bottom: 20px;
        background-image: url('../img/grey-corner.png');
        background-position: top right;
        background-repeat: no-repeat;                
    }
    .text-block-article{
        float: left;
        background-color: #d0d0d0;
        width: 900px;
        margin-bottom: 50px;
        padding: 0px 19px;
        padding-bottom: 20px;
        background-image: url('../img/grey-corner.png');
        background-position: top right;
        background-repeat: no-repeat;
        float: left;
        min-height: 165px;
        border-bottom: 10px #606060 solid;
        margin-right: 12px;
        padding-top: 20px;
    
    }
    #full-plate-wraper {
        width: 800px;
        margin-left: 50px;
    }
    
    .text-block:last-child {
        background-color: #f12;
        margin: 0px;
    }



#bread-crumb {
    margin: 10px 0px;
    font-size: 16px;
    color: #d00d0d;
    font-family: "Cantarell", sans-serif;
}
#bread-crumb > div {
    display: inline;
}
#bread-crumb > div:hover {
    color: #888;
    cursor: pointer;
}

.more {
    color: #888;
}

.inactive {
    color: #333;
    
}

.inactive:hover {
    color: #333 !important;
    cursor: default !important;
}

