<!DOCTYPE html>
<html>
  <head>
    <title> open_budget </title>
 
  </head>
  <body>
    <div id="main_content" class="relativeto">

      <h1 >open_budget</h1>
      <div class="menu" style="margin-top: -10px; float: left;">
      </div>
      <div class="menu" style="margin-top: -10px; float: right;">
        <a href="/download">do pobrania</a> | 
        <a href="/kontakt">kontakt</a> <br />
        <a style="float: right;" rel="license" href="http://creativecommons.org/licenses/by/3.0/pl/">
          <img alt="Licencja Creative Commons BY-PL 3.0" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/pl/80x15.png" />
        </a>
        
      </div>
      <br /><br />
      <h2> >{{ name }} </h2>
      
      <br /><br />
    </div>
<!--    <div id="footer">-->
<!--      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/pl/">-->
<!--          <img alt="Licencja Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/pl/80x15.png" />-->
<!--      </a>-->
<!--      <br />-->
<!--      Wszystkie treści na stronie internetowej <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">trzewiczek.info</span> objęte są licencją <a rel="license" href="http://creativecommons.org/licenses/by/3.0/pl/">Creative Commons Uznanie autorstwa 3.0 Polska License</a>.-->
<!--    </div>-->
  </body>
</html>
