#bread-crumb {
padding: 5px;
margin: 0px;
margin-bottom: 3px;
font-size: 13px;
color: #fff;
font-family: "Cantarell", sans-serif;
}
#bread-crumb > div {
display: inline;
}
#bread-crumb > div:hover {
color: #ff6000;
cursor: pointer;
}
.more {
color: #888;
}
.inactive {
color: #333;
}
.inactive:hover {
color: #333 !important;
cursor: default !important;
}
table {
width: 940px;
color: #333;
border-collapse: collapse;
border: #888 solid 1px;
}
.idef {
width: 15px;
text-align: right;
}
.type {
width: 115px;
}
.name {
width: 395px;
}
.value {
text-align: right;
}
thead td.value {
text-align: center;
}
td {
padding: 5px 5px;
border-right: 1px #888 solid;
vertical-align: top;
}
thead td {
background-color: #888;
color: #fff;
}
.even {
background-color: #fff;
}
.odd {
background-color: #eee;
}
.text-block {
padding-top: 5px !important;
}
.numerek {
font-weight: bold;
}
.text-block {
width: 940px !important;
padding: 0px !important;
margin-right: 0px !important;
} 
