* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: x-small;
    line-height: 18px;
    cursor: default;
    color: #474747;    
    font-family: Verdana, sans-serif;
}

#wraper {
    width: 960px; 
    margin: 0px auto;
    margin-top: 20px;    

    font-size: 1.1em;
}

h1, 
h2,
h3 {
    font-family: Cantarell, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

header {
    padding-left: 10px;
}

#en-link {
    font-size: 0.9em;
    margin-left: 20px;
    position: absolute;
    padding-top: 5px;

}

#site-name {
    float: left;
    margin-left: 5px;
}

nav.main-menu {
    margin-top: 80px;
    background-color: #f0f0f0;
    padding: 0px 10px;    
}


    
    nav.main-menu > ul {
        list-style: none;
    }

    .mm-element {
        float: left;
        width: 206px;       
        margin-right: 12px;
        margin-top: -54px;

        padding: 5px 10px;
                
        background-color: #d0d0d0;
        background-image: url('../img/white-corner.png');
        background-position: top right;
        background-repeat: no-repeat;
    }

    nav h3 {
        min-height: 47px;
        color: #fff;
        font-family: Cantarell, sans-serif;
        text-transform: uppercase;
        line-height: 22px;
    }

    nav h3:hover {
        color: #cf4e00;
    }

    nav p {
        padding: 0px 10px;
    }

.selected {
    background-color: #F0F0F0;
    color: #888;
}

.mm-description {
    float: left;
    width: 206px;       
    margin-right: 12px;
    padding: 5px 10px;                
    background-color: #d0d0d0;
    min-height: 165px;
    border-bottom: 10px #606060 solid;
}

#main-content > nav > ul {
    list-style: none;        
}

    
#main-content {
    overflow: auto;
    background-color: #F0F0F0;
    padding: 0px 10px;
    margin-top: -15px;
}

.text-block {
    float: left;
    background-color: #D0D0D0;
    width: 186px;
    min-height: 165px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    background-image: url('../img/grey-corner.png');
    background-position: top right;
    background-repeat: no-repeat;
    border-bottom: 10px #606060 solid;
}
    
.text-block-title {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0;   
}

.article {
    width: 898px; 
}

    .odd {
    background-color: #EEEEEE;
    }

    .even {
    background-color: #FFFFFF;
    }

    .value {
        text-align: right;
    }

    table {
        width: 840px;
    }

    td {
        padding: 5px;
}


article {
    background-color: #f0f0f0;
    padding: 20px 10px;
}    

.mvisualisation{
    padding-bottom: 0px;
    border-bottom-width: 0px;
    margin-bottom: 0px;
    height: 386px;
}
.about section {
    margin-left: 240px;
    margin-top: 0px;
}

    .about h2 {
        margin-bottom: 15px;

        color: #cf4e00;
    }

    .about p {
        width: 320px;
        margin-right: 20px;
    }
    




    #white-boxes > div {
        width: 10px;
        height: 10px;
        background-color: white;
        margin: 0px -10px;
    }




footer {
    border-top: 1px dotted #ccc;
    padding: 20px 10px;
    margin-top: 20px;
    color: #888;    
}

    footer section {
        float: left;

        width: 32.5%;
        margin-right: 1%;
    }

    #contact {
        width: 100%;
        border-top: 1px dotted #ccc;
        padding: 20px 0px;
        margin-top: 20px;
    }



a {
    color: #cf4e00;
    text-decoration: none;
}

a:hover {
    color: #555;
}


a > img {
    border: 0px;
}

a, .text-block  a, #about-project a {
    color: #ff6000;
    text-decoration: none;
}

a:hover, #about-project a:hover {
    color: #555;
}

.text-block a:hover {
    color: #fff;
}

a.right {
    font-weight: bold;
}

.thumb {
    border: 1px solid #FF6000 !important;
}

.thumb:hover {
    border: 1px #eee solid !important;
}

#full-plate-wraper {
    margin-left: 50px;
    width: 800px;
}

#full-plate-wraper > b {
    font-family: "Cantarell",sans-serif;
    text-transform: uppercase;
}

p {
    padding: 0px;
    margin-top: 11px;
    margin-bottom: 11px;
}


.full-text {
    margin-left: 30px;
}

    .full-text > ul {
        padding-left: 40px;
    }

.cantarell {
    font-family: 'Cantarell', sans-serif;
}
    
.left {
    float: left;
}

.right {
    float: right;
}

.last {
    margin-left: 0px;
    margin-right: 0px;
}

.clear {
    clear: both;
}


#bread-crumb {
padding: 5px;
margin: 0px;
margin-bottom: 3px;
font-size: 13px;
color: #fff;
font-family: "Cantarell", sans-serif;
}

#bread-crumb > div {
display: inline;
}

#bread-crumb > div:hover {
color: #ff6000;
cursor: pointer;
}

.more {
color: #888;
}

.inactive {
color: #333;
}

.inactive:hover {
color: #333 !important;
cursor: default !important;
}

table {
width: 940px;
color: #333;
border-collapse: collapse;
border: #888 solid 1px;
}
.idef {
width: 15px;
text-align: right;
}

.type {
width: 115px;
}

.name {
width: 395px;
}

.value {
text-align: right;
}

thead td.value {
text-align: center;
}

td {
padding: 5px 5px;
border-right: 1px #888 solid;
vertical-align: top;
}

thead td {
background-color: #888;
color: #fff;
}

.even {
background-color: #fff;
}

.odd {
background-color: #eee;
}

ol {
    padding-left: 40px;
}


.numerek {
font-weight: bold;
}
.visualisation {
margin-left: -20px;
padding-top: 5px ;
width: 940px ;
padding-bottom: 0px ;
padding-left: 0px ;
padding-right: 0px ;
margin-right: 0px ;
} 




