.selected {
    background-color: #f0f0f0;
    color: #888;
}

.selected a { 
    color: #888;
}    


.text-article-block {
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    width: 900px;
    background-image: url('../img/grey-corner.png');
    background-position: top right;
    background-repeat: no-repeat;    
}

.text-block-title {
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
    padding: 0px 0px;
}

.last {
margin-left: 0px;
margin-right: 0px;
}

p {
    padding: 0px;
}

.thumb {
    border: 1px #ff6000 solid !important;
}

.thumb:hover {
    border: 1px #eee solid !important;
}
